.funky-text {
    font-size: 20px;
    color: darkblue;
    font-style: italic;
}
p{
    line-height: 1.5;
    color:#666666;
}
body{
    background-color: lightblue;
    color: darkblue;
}
















